body{
	
	background-color:#000066;
	width:90%;
	height:90%;	
  overflow-x: hidden;
	
}
h1,h2,h3,h4,h5,h6{
	
	color: #ffffff;
	
}
select {
   border: 2;
   color: #ffffff;
   background: #000066;
   font-size: 100%;
   font-weight: bold;
   padding: 2px 10px;
   width: 100%;
   *width: 100%;
   *background: #58B14C;
   -webkit-appearance: none;
   cursor:pointer;
}


button{
	
	
	background-color:#000066;
	color:white;
	margin:4px 2px;
	font-size:16px;
	border-radius:20px;
	cursor:pointer;
}
.submit{
	padding:50px;
	border-radius:80%;
	font-size:100%;
	border-color:red;
}
p{
	border-radius:20px;
	background-color:#4d4d4d;
}
.runcard{
	color:white;
	border-radius:20px;
	background-color:#4d4d4d;
}
		
.commentary{
	color:white;
	border-radius:20px;
	background-color:#4d4d4d;
	
}
a{
	color:white;
	
}